.Intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Intro-image {
  width: 700px;
  height: 250px;
  background-color: gray;
}
.Intro-link-container {
  margin: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.Intro-link {
  width: 11em;
  height: 2em;
  border-radius: 15px;
  font-size: 1.2em;
  border: 1px solid #000;
  display: table;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.Intro-link-title {
  display: table-cell;
  vertical-align: middle;
}
.Intro-line {
  width: 500px;
}
